<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
    <style>
        .menu-item {
            border: 1px solid #000;
            padding: 10px;
            margin-bottom: 20px;
        }
        .menu-item p {
            font-weight: bold;
        }
        .menu-item a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    {% comment %} <a href="{% url 'cafe:menucreate' %}" >Add new item </a> {% endcomment %}
    {% for i in ingredients %}
        {% comment %}   //yo menu views bata aako ho  {% endcomment %}
        <div class="menu-item">
            <p>Item Name: {{ i.item_name }}</p>
            <p>Qty: {{ i.qty }}</p>
            <p>Unit_price: {{i.unit_price}}</p>
        </div>
    {% endfor %}
</body>
</html>
